<!doctype <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Ring of Compiler</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
			.bg-1 {

				background-color: #56b447; /* Green */
				color: #ffffff;
			}
			.btn-xl {
					padding: 20px 40px;
					font-size: 40px;
					border-radius: 20px;
				}
				.footer{
                    background-color: black;
                    color: white;
                    padding-bottom: 20px;
                    padding-top:20px
            }

			</style>
		</head>
</head>
<body>
		<div class = "jumbotron">
				<div class = "row">
					<div class="col-sm-3">
						<img alt="there is supposed to be an image here" id="logo" style="height: 150px; width: 400px; padding-left: 5px" src="/static/logos/logo.original.png">
					</div>
					<div class="col-sm-9">
							<h1>Ring of Compiler</h1>
							<p>You Program Better When You're Drunk</p>
					</div>
				</div>

			</div>
		<div class="container-fluid bg-1">
			<h2 class>What is Ring of Compiler?</h2>
			<h3>Ring of Compiler is the ultimate drunk coding challenge (probably the only drunk coding challenge apart from trying to complete your PGA coursework after a heavy night out at Rock City.)
			the aim of the game is to complete the program and produce the required output in 5:00 minutes and submit it without any errors.
			But be warned there are alcohol themed consequences for any errors and even greater consequences for not finishing!
			</h3>
			<div class="container-fluid text-center bg-1">
					<img alt="there is supposed to be an image here" id="logo" style="height: 300px; width: 700px; padding-left: 5px" src="/static/logos/letsgetmortal.jpg">

			</div>

		</div>

		<div class="container-fluid bg-1 text-center">
			<h2><strong>Click Button to Start</strong> </h2>
			<form action='/new' method='GET'>
						<button id = "button-start" type = "submit" class="btn-xl btn-success">Start Game</button>
			</form>
		</div>

		<!--footer-->
			<div class = "container-fluid footer" id = "footer">
				<h3> A Hacknotts Project by Samuel King and Adam Kulesza</h3>
			</div>

</body>
</html>
