<!doctype <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Ring of Compiler</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
			.bg-1 { 
					padding-top: 10px;
					 background-color: #1abc9c; /* Green */
						color: #ffffff;
				}
			.btn-xl {
					padding: 20px 40px;
					font-size: 40px;
					border-radius: 20px;
				}
			</style>
		</head>
</head>
<body>
		<div class = "jumbotron">
				<h1>Ring of Compiler</h1>
				<p>The fun drinking game for alcoholic programmers</p>
		</div>
		<div class="container-fluid bg-1">
				<h2>Click Button to Start</h2>
			</div>
		<div class="container-fluid bg-1 text-center">
						<button id = "button-start" type = "button" class="btn-xl btn-success">Start Game</button>

		</div>
		<div class="container-fluid bg-1">
			 	<h2>What is Ring of Compiler?</h2>
				<h2>todo</h2>
			</div>
			

</body>
</html>